	</div>

	<!-- end content -->

	<footer id="footer">

	</footer>

	<!-- JS -->
	<script>
		
		var JSP = JSP||{};
		window["JSP"] = JSP;

		JSP.conf = {};

		JSP.conf.lang       = "{{lang}}";
		JSP.conf.baseUrl    = "<?php echo $baseURL; ?>";
		JSP.conf.jSVar      = {{{commonjSVar}}};
		JSP.conf.cardInfos 	= {{{cardInfos}}};
		JSP.conf.hasPushState 	= _redirect.hasPushstate;
		JSP.conf.translate = {
			{{#each translateJS}}
				"{{key}}" : "{{value}}" {{#ifCond @index "<" ../nbItemtranslateJS}} , {{/ifCond}}
			{{/each}}
		};


	</script>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="<?php echo $baseURL; ?>/js/vendor/jquery.min.js">\x3C/script>')</script>

	<script src="<?php echo $baseURL; ?>/js/vendor/head.load.min.js"></script>

    <script>
    
	    var aScript = [
			{{#each aJS}} 
				"<?php echo $baseURL; ?>{{src}}"   {{#ifCond @index "<" ../nbScripts}} , {{/ifCond}}
			{{/each}}
		];

		var aScriptOnlyIE = {{{aScriptOnlyIE}}};

		//delete some scripts

		if( document.documentElement.className.indexOf("lt-ie9") > -1 ) //IE < 9
		{
			
			for (var i in aScriptOnlyIE)
			{
				var scriptIE = aScriptOnlyIE[i];

				for(var j in aScript)
				{
					var script = aScript[j];

					//match
					if( script.indexOf(scriptIE.src) > -1 )
					{
						//delete it from the array of Loading scripts
						aScript.splice(j, 1);
					}


				}
			}
		}
		else
		{
			for (var i in aScriptOnlyIE)
			{
				var scriptIE = aScriptOnlyIE[i];

				for(var j in aScript)
				{
					var script = aScript[j];

					//match
					if( script.indexOf(scriptIE.ie) > -1 )
					{
						//delete it from the array of Loading scripts
						aScript.splice(j, 1);
					}


				}
			}
		}

		head.load(aScript, function(e){

			$(document).ready( JSP.main.onReady.bind(JSP.main) );

		} );
		
		
	</script>

	</body>
</html>