<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{meta.title}}</title>
        <meta name="description" content="{{meta.description}}">
        <meta name="viewport" content="initial-scale=1.0">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <!-- CSS -->
        {{#each aCSS}}
            <link rel="stylesheet" href="{{src}}">
        {{/each}}


    </head>
    <body>

	    <header id="header">

	    </header>

	    <div id="content">

			<h1>{{content.header.title}}</h1>
			<p>{{content.body}}</p>

			<a href="/en">EN Version</a>
			<a href="/fr">FR Version</a>

		</div>

	</body>
</html>

