{{> partial.headerPHP}}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie11 lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie11 lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie11 lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie11 lt-ie10"> <![endif]-->
<!--[if IE 10]>         <html class="no-js lt-ie11"> <![endif]-->
<!--[if gt IE 10]><!--> <html class="no-js" lang="{{lang}}"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{meta.title}}</title>
        <meta name="description" content="{{meta.description}}">

        <meta name="apple-mobile-web-app-title" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes" />

        <meta content="{{lang}}" http-equiv="Content-Language"/>

        <meta name="author"    content="Danetag" />
        <meta name="copyright" content="Danetag" />
        <meta name="publisher" content="Danetag" />
        <meta name="format-detection" content="telephone=no">
        <meta name="apple-mobile-web-app-capable" content="yes"/>

        <!-- FB OPENGRAPH -->
        <meta property="og:title" content="{{meta.title}}" />
        <meta property="og:url" content="<?php echo $baseURL; ?>" />
        <meta property="og:description" content="" />
        <meta property="og:image" content="" />
        <meta property="og:site_name" content="" />

        <!-- GOOGLE PLUS -->
        <meta itemprop="name" content="" />
        <meta itemprop="description" content="" />

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="shortcut icon" type="image/gif" href="<?php echo $baseURL; ?>/img/favicon.gif" />
        <link rel="icon" type="image/gif" href="<?php echo $baseURL; ?>/img/favicon.gif" />

        <script type="text/javascript">

            //JS redirection for SEO
            var isMobileFromUA = "<?php echo $isMobile; ?>";
            var lang           = "<?php echo $lang; ?>";
            var baseURL        = "<?php echo $baseURL; ?>";

            var isMobile = false;

            if ( isMobileFromUA ) /* Mobile */ 
               isMobile = true;

            if( isMobile )
            {
                window.location = baseURL + "/m/?lang=" + lang;
            }   
            else
               window.location = baseURL + "/" + lang;

        </script>


        <!-- CSS -->
        {{#each aCSS}}
            <link rel="stylesheet" href="<?php echo $baseURL; ?>{{src}}">
        {{/each}}


    </head>
    <body>

	    <header id="header">

	    </header>

	    <div id="content">

			<h1>{{content.header.title}}</h1>
			<p>{{content.body}}</p>

			<a href="/en">EN Version</a>
			<a href="/fr">FR Version</a>

		</div>

	</body>
</html>

